/* app/about/page.module.css */
.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  width: 45%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 5px 0;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column; /* Stack the cards vertically on smaller screens */
    align-items: center; /* Center the cards */
  }

  .card {
    width: 90%; /* Cards take up most of the screen on mobile */
  }
}

.card h1 {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  margin-top: 3px;
  font-size: 1.4rem;
}

.card h2 {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  margin-top: 1px;
  font-size: 1.0rem;
}

.card p {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}

.cardImage {
  width: 200px;          /* 幅を200pxに固定 */
  height: 200px;         /* 高さを200pxに固定 */
  object-fit: cover;     /* 画像を枠にフィットさせる */
  display: block;        /* 中央寄せのためにブロック要素に設定 */
  margin: 0 auto 20px;   /* 上下のマージン、左右を自動で中央寄せ */
  border-radius: 10%;      /* 四角形にする */
  margin-bottom: 10%;
}

.companyOverview {
  width: 100%;
  max-width: 800px; /* 幅を調整 */
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

.companyOverview h1 {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  font-size: 1.6rem; /* フォントサイズを大きく */
  font-weight: bold; /* 太字に */
  color: #000044; /* テキストカラーを設定 */
  letter-spacing: 0px; /* 文字間隔を広げる */
  text-align: center; /* 中央寄せ */
  text-transform: uppercase; /* 大文字に */
  margin-bottom: 1px;
  position: relative; /* 下線のアニメーション用 */
}

.companyOverview h1::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px; /* 下線の高さ */
  background-color: #000044; /* 下線の色 */
  transform: scaleX(0);
  transform-origin: bottom right;
  animation: underlineAnimation 0.6s ease-out forwards;
}

.companyOverview h2 {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  font-size: 1.6rem; /* フォントサイズを大きく */
  font-weight: bold; /* 太字に */
  color: #000044; /* テキストカラーを設定 */
  letter-spacing: 0px; /* 文字間隔を広げる */
  text-align: center; /* 中央寄せ */
  text-transform: uppercase; /* 大文字に */
  margin-bottom: 60px;
  position: relative; /* 下線のアニメーション用 */
}

.companyOverview h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px; /* 下線の高さ */
  background-color: #000044; /* 下線の色 */
  transform: scaleX(0);
  transform-origin: bottom right;
  animation: underlineAnimation 0.6s ease-out forwards;
}

@keyframes underlineAnimation {
  to {
      transform: scaleX(1);
      transform-origin: bottom left;
  }
}

.companyOverview p {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  font-size: 1.1rem;
}

.section {
  display: flex;
  justify-content: center; /* セクションを中央に配置 */
  margin: 5px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd; /* 各セクションを線で区切る */
  width: 100%; /* 幅を100%に */
}

.section p {
  font-family: 'Roboto', sans-serif; /* フォントを統一 */
  font-size: 1.0rem;
  line-height: 1.4;
  color: #333;
  text-align: justify; /* 両端揃え */
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  padding: 20px;
}

.section:last-child {
  border-bottom: none; /* 最後のセクションには線を表示しない */
}

.title {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  flex: 1; /* タイトルカラムを細くする */
  text-align: left; /* タイトルを右寄せ */
  padding-right: 10px; /* タイトルと内容の間に余白を追加 */
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.content {
  flex: 2; /* 内容カラムを太くする */
  text-align: left; /* 内容を左寄せ */
  font-size: 1.1rem;
  color: #555;
}

.signature {
  font-family: 'Roboto', sans-serif; /* フォントをモダンに */
  text-align: right;
  width: 100%; /* 幅を100%に設定 */
  margin-left: auto; /* 自動で左側のマージンを取る */
}


