.Overview {
    width: 100%;
    max-width: 1200px; /* 幅を調整 */
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  }
  
  .Overview h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .Overview p {
    font-size: 1.2rem;
  }