.logo {
    text-align: center;
    /* margin-bottom: 20px; */
    color: rgb(255,255,255);
  }
  
  .aboutLink {
    font-size: 16px;
    /* font-weight: bold; */
    cursor: pointer;
    color: rgb(255,255,255);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  }
  
  /* Hover effect to illuminate the text */
  .aboutLink:hover {
    color: #53caf1; /* Change text color to a bright yellow */
    /* text-shadow: 0 0 8px rgba(99, 185, 238, 0.8); Add glowing effect */
  }